:root {
  --english-violet: #654f6f;
  --bg: #f9f8f8;
  --lavender-gray: #bbb5bd;
  --dark-blue-gray: #5c5d8d;
  --rifle-green: #3f4739;
  font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial,
    sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

nav {
  background-color: var(--rifle-green);
}

#logo {
  width: 125px;
  padding: 5px;
}

body {
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: var(--rifle-green);
}

.form {
  text-align: center;
  color: var(--lavender-gray);
}

.button {
  background-color: var(--dark-blue-gray);
  color: var(--lavender-gray);
}

input {
  height: 50%;
}

body > .container {
  padding: 60px 15px 0;
}

main > .container {
  margin-top: 70px;
}

.footer > .container {
  padding-right: 5px;
  padding-left: 5px;
}

#groupImg {
  float: center;
}

.card {
  border: none;
}

.citysearch label {
  display: block;
}

.weather {
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
  box-sizing: border-box;
  white-space: nowrap;
}

.citysearch {
  margin-top: 50px;
}

.weather_search {
  width: 100%;
  border: none;
  font-size: 20px;
  color: lava;
}

.weather_search::placeholder {
  color: #bbb5bd;
  margin-top: 5px;
}

.weather_today {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather_image {
  width: 30vmin;
  align-self: center;
}

.weather_city {
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0;
}

.weather_day {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 400;
}

.weather_indicator::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;
}

.weather_indicator-humidity::before {
  background-image: url(../images/humidity.png);
}

.weather_indicator-wind::before {
  background-image: url(../images/wind.png);
}

.weather_indicator-pressure::before {
  background-image: url(../images/pressure.png);
}

.weather_temperature {
  font-size: 60px;
}

.weather_forecast {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather_forecast_icon {
  max-width: 50%;
  color: var(--english-violet);
}

.weather_forecast_item {
  color: var(--english-violet);
  background-color: #3f473977;
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 30px 5px 20px;
  box-sizing: border-box;
  min-width: 150px;
  width: calc(20% - 20px);
  flex-grow: 1;
}

.subscribe {
  width: 100%;
  border: none;
  font-size: 20px;
}

.right-align {
  text-align: end;
}
